<!DOCTYPE html>
<html ng-app="componentPractice">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller="mainCtrl">
    <button type="button" ng-click="subview='modal1'">toggle modal 1</button>
    <button type="button" ng-click="subview='modal2'">toggle modal 2</button>

    <div class="modal-container" ng-switch="subview">
      <modal
        ng-switch-when="modal1"
        title="modal1Title"
        message="modal1Message"
        confirm-click-handler="confirm()"
        cancel-click-handler="cancel()">
      </modal>

      <modal
        ng-switch-when="modal2"
        title="modal2Title"
        message="modal2Message"
        confirm-click-handler="confirm()"
        cancel-click-handler="cancel()">
      </modal>
    </div>



    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="mainCtrl.js"></script>
    <script type="text/javascript" src="component.js"></script>
  </body>
</html>
